---
import Layout from '../layouts/Layout.astro';
import ThreeBackground from '../components/ThreeBackground.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
import Friends from '../components/Friends.astro';
---

<Layout title="willie | Personal Website">
  <ThreeBackground />
  <Navbar />
  <main>
    <Hero />
    <About />
    <Experience />
    <Skills />
    <Friends />
    <Contact />
  </main>
</Layout>
<!-- Ciallo～(∠・ω< )⌒☆ -->

<script>
  import { initScrollAnimations } from '../scripts/scroll-animations';
  initScrollAnimations();
</script>
